/* GENERIC STYLES */
* {
  margin: 0;
  padding: none;
}

body {
  background-color: #fff;
  width: 320px;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

a {
  text-decoration: none;
  text-align: center;
}

/* TYPOGRAPHY */
h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
}

p,
a,
h3,
.language,
.about-list,
.about-list-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

a.button,
.about-list {
  font-size: 16px;
  font-weight: 600;
}

.about-list-heading,
.about-list {
  color: #fff;
}

.about-list-heading {
  font-weight: 800;
  font-size: 18px;
  padding: 50px 0 20px 50px;
}

/* HEADER STYLES */
header {
  background: url("images/image-geometry_6.svg") no-repeat;
  background-size: 35.5%;
  height: 75px;
}

.menu-icon {
  margin: 19px;
  float: right;
}

.headline {
  background: url("images/image-geometry_1.svg") 0 400px no-repeat;
  height: 560px;
  background-size: 100%;
}

/* PROJECTS STYLES */
.project-box {
  background-color: #1a2236;
  padding: 20px;
  margin: 0;
}

.project-name {
  color: #fff;
}

.fa-arrow-right {
  width: 20px;
  margin: auto;
}

.language-container {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.language {
  background-color: #98dede;
  color: #1a2236;
  padding: 6px 10px;
  font-size: 10px;
  font-weight: 500;
}

/* ABOUT STYLES */
.about {
  padding: 0 16px;
}

.about-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-lang-color,
.about-fwork-color,
.about-skills-color,
.about-languages,
.about-framework,
.about-skills {
  margin: auto;
  width: 289px;
  height: 289px;
}

.about-lang-color {
  background: #1c528a;
}

.about-fwork-color {
  background: #e2505c;
}

.about-skills-color {
  background: #febf52;
}

.about-languages {
  background: url("images/ic_languages.svg") right bottom no-repeat;
}

.about-framework {
  background: url("images/ic_framework.svg") right bottom no-repeat;
}

.about-skills {
  background: url("images/ic_skills.svg") right bottom no-repeat;
}

.about-list {
  margin-left: 30px;
}

/* BUTTONS */
.dark-button {
  display: block;
  background-color: #1a2236;
  color: #fff;
  border: none;
  padding: 15px;
  margin: 30px auto;
}

.dark-button:hover,
.dark-button:visited {
  background-color: #fff;
  color: #1a2236;
}

.dark-button:hover {
  border: 1px #1a2236 solid;
}

.dark-button:active {
  border: 2px #1a2236 solid;
}

.see-project,
.get-cv {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.see-project {
  border: 1px #fff solid;
  width: 178px;
  margin: 20px auto 0 0;
}
